
<div id="userMap">
<div class="content"><a href="create-cluster"><div class="box box1">Создание кластера</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="create-user.html"><div class="box box2">Создание пользователя</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="create-role.html"><div class="box box3">Создание роли</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="create-bucket.html"><div class="box box4">Создание корзины</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="run-queries.html"><div class="box box5">Подключение к кластеру и выполнение запросов</div></a></div>
<div class="clearfix"></div>

</div>
