<h3>Слушайте подкаст на любимых платформах</h3>
<div class="podcastButtonsEmbedPost">
    <div class="podcastButtons">
        <a target="_blank" href="https://apple.co/3SbtZXI"><img
                src="{{site.url}}{{site.baseurl}}/assets/platforms/RU_Apple_Podcasts_techcommpod.svg"
                alt="Техкомпод на Apple Podcasts"></a>
        <a target="_blank" href="https://podcasts.google.com/feed/aHR0cHM6Ly90ZWNoY29tbXBvZC5ydS9wb2RjYXN0LnJzcw"><img
                src="{{site.url}}{{site.baseurl}}/assets/platforms/RU_Google_Podcasts_techcommpod.svg"
                alt="Техкомпод на Google Podcasts"></a>
        <a target="_blank" href="https://music.yandex.ru/album/29225495"><img
                src="{{site.url}}{{site.baseurl}}/assets/platforms/RU_Yandex_Podcasts_techcommpod.svg"
                alt="Техкомпод на Яндекс Музыке"></a> 
    </div>
</div>